$logoColor : #D04F4F;
$bgInputColor : #E7E7E7;
$ingredientColor : #3282F7;
$ustensileColor : #ED6454;
$appareilColor : #68D9A4;
$inputColor : #ffffff;
$bgImageColor : #C7BEBE;
$bgRecipeColor : #E6E6E6;

:root {
    --font-default: 'Lato', sans-serif;
    --font-slab: var(--font-default);
    
}
h1{
    color: $logoColor;
}

.search{
    
    justify-content: center;
    
    &__glass{
        cursor: pointer;
        z-index: 1;
        right: 15px;
        position: absolute;
        &::before{
            content: url('/images/loupe.svg');
        }
        
    }
    .inputSearch{
        display: flex;
        align-items: center;
       
            border: none;
        
    }
}    


input{
    background-color: $bgInputColor;
    height: 69px;
    border-radius: 5px;
    border: none;
    :focus{
        border: none;
    }
    
}
.noResult{
    display: none;
}
/*.tag{
    
    input{
        align-items: center;
        background-color: $ingredientColor;
        height: 37px;
        
        color: $inputColor;
    }
}
.tagClose{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $inputColor;
    cursor: pointer;
    z-index: 1;
   
    cursor: pointer;
    top: 10px;
    right: 90px;
    border-radius: 5px;
    &::before {
        content: url('/images/closeTag.svg');
    }
    @media (max-width: 1200px) {
        right: 70px
    }
    @media (max-width: 992px) {
        right: 50px;
    }
    @media (max-width: 768px) {
        right: 50px;
    }
    @media (max-width: 575px) {
        
    }
    
}*/
/*#dropdown-ingredients{
    margin-left: 45px;
}*/

/*.dropdown{
    left:-30px;
}*/
#ingredients , #ingredientsList , #ingredientsSearch{
    background-color: $ingredientColor;
    color: $inputColor;
}
#ustensiles , #ustensilesList , #ustensilesSearch{
    background-color: $ustensileColor;
    color: $inputColor;
}
#appareils , #appareilsList , #appareilsSearch{
    background-color: $appareilColor;
    color: $inputColor;
}
#ingredientsSearch , #ustensilesSearch , #appareilsSearch{
    border-radius: 5px 5px 0 0;
}
#ingredientsList , #appareilsList , #ustensilesList{
    border-radius: 0 0 5px 5px;
}
#ingredientsList, #appareilsList{
    left: -8px;
}  
#ustensilesList{
    left: -8px;
}
#dropdown-menuUst, #dropdown-menuApp, #dropdown-menuIng{
    margin-top: -70px;
} 
.filter__show {
    display: block;
} 
.active{
    display: flex;
    
    @media (max-width: 576px) {
        justify-content: space-around;
    }
}
.ingredientTag, .appareilTag, .ustensileTag{
    
    padding-top: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    color: $inputColor;
    min-width: 107px;
    height: 37px;
    margin-left: 20px;
}
.closeIngredientTag, .closeAppareilTag, .closeUstensileTag{
    z-index: 6;
    cursor: pointer;
    &::before{
        content: url('/images/closeTag.svg');
    }
}
.closeIngredientTag, .ingredientTag{
    background-color: $ingredientColor;
}
.closeAppareilTag, .appareilTag{
    background-color: $appareilColor;
}
.closeUstensileTag, .ustensileTag{
    background-color: $ustensileColor;
}
.principalSearch{
    position: relative;
    z-index: 3;
}
.searchSpecified{
    position: absolute;
    z-index: 3;
}
.dropdown{
    &__filterList{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        
        flex-wrap:wrap;
        
        
        a{
            &:hover, &:active{
                text-decoration: none;
            }
            color: $inputColor;
        }
    }
    &__filter{
        z-index: 4;
        position: relative;
    }
    
    &__menu{
        display: none;
        
    }
    
    .btn{
        letter-spacing: 1px;
        text-align: left;
        display: inline;
        height: 69px;
        width: 170px;
    }
} 
.arrow, .arrow2, .arrow3{
    transition: transform 300ms;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $inputColor;
    
    z-index: 5;
    width: 40px;
    cursor: pointer;
    top: 23px;
    right: 0px;
    border-radius: 5px;
    &::before {
        content: url('/images/selection-arrow.svg');
    }
    
}
.return-arrow , .return-arrow2 , .return-arrow3{
    transition: transform 300ms;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $inputColor;
    
    z-index: 5;
    width: 40px;
    cursor: pointer;
    top: 23px;
    right: 0px;
    border-radius: 5px;
    
    &::before{
        content: url('/images/input-arrow.svg')
    }
}


.noResult{
    margin-top: 150px;
    color: $inputColor;
}
.recipe{
    
    margin-top: 20px;
    height: 364px;
    &__card{
        overflow: hidden;
        text-overflow: ellipsis;
        
            
        flex-wrap: wrap;
        background-color: $bgRecipeColor;
        display: flex;
        border-radius: 0 0 5px 5px;
        height: 176px;
        h6{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 1rem;
            top: 10px;
            font-weight: normal;
        }
    }
    &__process{
        font-size: 0.75em;
        font-family: 'Roboto', sans-serif;
        
        height: 140px;
    }
    
    &__ingredients{
        font-size: 0.75em;
        height: 140px;
    }
    
    
}

.illustration{
    height: 178px;
    background-color: $bgImageColor;
    border-radius: 5px 5px 0 0;
}

.recipesList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 2;
    top: 100px;
}
.time{
    font-size: 1em;
    top: 10px;
    display: flex;
    font-weight: 700;
    justify-content: end;
    align-items: baseline;
    right: -50px;
    img{
        margin-right: 10px;
    }
   
    
}
/*@media (max-width: 1200px) {
    .time , .recipe h6{
        font-size: 0.9em;
    }
    .recipe{
        &__process, &__ingredients{
            font-size: 0.65em;
        }
    }
}*/

