:root {
  --font-default: "Lato", sans-serif;
  --font-slab: var(--font-default);
}

h1 {
  color: #D04F4F;
}

.search {
  justify-content: center;
}
.search__glass {
  cursor: pointer;
  z-index: 1;
  right: 15px;
  position: absolute;
}
.search__glass::before {
  content: url("/images/loupe.svg");
}
.search .inputSearch {
  display: flex;
  align-items: center;
}

input {
  background-color: #E7E7E7;
  height: 69px;
  border-radius: 5px;
  border: none;
}

.noResult {
  display: none;
}

/*.tag{

    input{
        align-items: center;
        background-color: $ingredientColor;
        height: 37px;

        color: $inputColor;
    }
}
.tagClose{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $inputColor;
    cursor: pointer;
    z-index: 1;

    cursor: pointer;
    top: 10px;
    right: 90px;
    border-radius: 5px;
    &::before {
        content: url('/images/closeTag.svg');
    }
    @media (max-width: 1200px) {
        right: 70px
    }
    @media (max-width: 992px) {
        right: 50px;
    }
    @media (max-width: 768px) {
        right: 50px;
    }
    @media (max-width: 575px) {

    }

}*/
/*#dropdown-ingredients{
    margin-left: 45px;
}*/
/*.dropdown{
    left:-30px;
}*/
#ingredients, #ingredientsList, #ingredientsSearch {
  background-color: #3282F7;
  color: #ffffff;
}

#ustensiles, #ustensilesList, #ustensilesSearch {
  background-color: #ED6454;
  color: #ffffff;
}

#appareils, #appareilsList, #appareilsSearch {
  background-color: #68D9A4;
  color: #ffffff;
}

#ingredientsSearch, #ustensilesSearch, #appareilsSearch {
  border-radius: 5px 5px 0 0;
}

#ingredientsList, #appareilsList, #ustensilesList {
  border-radius: 0 0 5px 5px;
}

#ingredientsList {
  left: 9px;
}

#dropdown-menuUst, #dropdown-menuApp, #dropdown-menuIng {
  margin-top: -70px;
}

.filter__show {
  display: block;
}

.dropdown {
  /*&__menu{
      display: none;
  }*/
}
.dropdown__filterList {
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
}
.dropdown .btn {
  letter-spacing: 1px;
  text-align: left;
  display: inline;
  height: 69px;
}

.arrow {
  transition: transform 300ms;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  z-index: 1;
  width: 40px;
  cursor: pointer;
  top: 23px;
  right: 0px;
  border-radius: 5px;
}
.arrow::before {
  content: url("/images/selection-arrow.svg");
}

.recipesList {
  top: 50px;
}

.noResult {
  color: #ffffff;
}

.recipe {
  z-index: 2;
  margin-top: 20px;
  height: 364px;
}
.recipe__card {
  overflow: hidden;
  text-overflow: ellipsis;
  flex-wrap: wrap;
  background-color: #E6E6E6;
  display: flex;
  border-radius: 0 0 5px 5px;
  height: 176px;
}
.recipe__card h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  top: 10px;
  font-weight: normal;
}
.recipe__process {
  font-size: 0.75em;
  font-family: "Roboto", sans-serif;
  height: 140px;
}
.recipe__ingredients {
  font-size: 0.75em;
  height: 140px;
}

.illustration {
  height: 178px;
  background-color: #C7BEBE;
  border-radius: 5px 5px 0 0;
}

.recipesList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.time {
  font-size: 1em;
  top: 10px;
  display: flex;
  font-weight: 700;
  justify-content: end;
  align-items: baseline;
  right: -50px;
}
.time img {
  margin-right: 10px;
}

/*@media (max-width: 1200px) {
    .time , .recipe h6{
        font-size: 0.9em;
    }
    .recipe{
        &__process, &__ingredients{
            font-size: 0.65em;
        }
    }
}*/

/*# sourceMappingURL=style.css.map */
